# Exclude the following files or folders from language statistics
ASP_MVC_Website/Content/* linguist-vendored
ASP_MVC_Website/Scripts/* linguist-vendored
ASP_MVC_Website/css/* linguist-vendored

# Include the following files or folders for language renaming
ASP_MVC_Website/Models/* linguist-language=CSHARP
ASP_MVC_Website/Views/* linguist-language=ASP
ASP_MVC_Website/Controllers/* linguist-language=CSHARP
ASP_MVC_Website/ViewModel/* linguist-language=CSHARP

# Include the following files or folders for language detection
*.sql linguist-detectable=true

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Image files are treated as binary by default
*.jpg   binary
*.png   binary
*.gif   binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
